*.aux
*.log
*.lof
*.lot
*.glsdefs
*.idx
*.ind
*.ilg
*.nav
*.toc
*.aux
*.out
*.bbl
*.blg
*.bcf
*.maf
*.mtc*
*~
*backup
*.backup
*.synctex.gz
*.xml
**.DS_Store
various_fromMasterThesis/
titlePage_templates/
page_de_garde_latex/
