*.aux
*.log
*.lof
*.lot
*.glsdefs
*.idx
*.ind
*.ilg
*.nav
*.toc
*.aux
*.out
*.bbl
*.blg
*.bcf
*.maf
*.mtc*
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*~
*backup
*.backup
*.synctex.gz
*.xml
**.DS_Store
*Fontana_thesis.pdf
*Fontana_thesis_BKP.pdf
*Fontana_thesis20-08_dd.pdf
*Fontana_thesis_30_09_et2.pdf
*Fontana_thesis_30_09_et.pdf
*Fontana_thesis-2_20_09_dd.pdf
*Fontana_thesis_et3.pdf
*Fontana_thesis_et.pdf
*images_adaptation_largeSize.pptx
*images_adaptation.pptx
various_fromMasterThesis/
titlePage_templates/
page_de_garde_latex/
